.A{
	display: flex;
	flex-direction: row;
	padding: 25px;
	background-color: rgba(255, 0, 0, 0.8);
	justify-content:  space-between;
	
}
	.drop{
		font-size: 25px;
		margin-right: 10px;
		height: ;
		width: 100px;
		border: 2px solid black;
		text-align: center;
		border-radius: 10px;
		color: ghostwhite;

	}	

.B{
	display: flex;
	background-color: rgba(30, 30, 30, 1);
	color: ghostwhite;
	justify-content: right;
	margin-left: 75%;	

}
.b1{
	text-align: right;
}
#disha{

	color: ghostwhite;
	margin: 0px;
}
body{
	margin: 0px;
	background-color: ghostwhite;
	background-color: rgba(10, 10, 10, 1);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	padding-left: 	px;

}
tr{
	display: flex;
	border: px solid black;
	justify-content: ;
	justify-content: center;

}
td{
	background-color: rgba(30, 30, 30, 1);
	display: flex;
	flex-direction: column;
	background-color: ;
	padding: 10px;
}
table{
	display: flex;
	flex-direction: column;
}
a{

	color: ghostwhite;
	text-decoration: none;
	margin:px;
	margin: 20px;
	font-size: 20px;

	width: 200px;
	
}
.hero{
	height: 100px;
	margin-top: 0px;
}
.sub{
	display: flex;
	flex-direction: column;
	border: px solid whitesmoke;
}

